.heading-primary {
  color: $color-secondary;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    margin-bottom: 2rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: moveInRight 1s ease-in-out;
  }
}

// Tablet 1200px
@media screen and (max-width: 75em){
  .heading-primary {
    margin-bottom: 9rem;
  
    &--main {
      font-size: 4rem;
      font-weight: 200;
      letter-spacing: 1rem;
    }
    
    &--sub {
      display: block;
      font-size: 2rem;
      font-weight: 200;
      letter-spacing: 0.5rem;
      animation: moveInRight 1s ease-in-out;
    }
  }
}

// Phone 600px
@media screen and (max-width: 37.5em) {
  .heading-primary {
    margin-bottom: 2rem;
  
    &--main {
      font-size: 4rem;
      font-weight: 200;
      letter-spacing: 1rem;
    }
    
    &--sub {
      font-size: 2rem;
      font-weight: 200;
      letter-spacing: 0.5rem;
    }
  }
}

