@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin positionCenter($top-position) {
  position: absolute;
  top: $top-position;
  left: 50%;
  transform: translate(-50%, -50%);
}