// Colour
$color-primary: #131414;
$color-primary-light: #393a3a;
$color-primary-dark: #000000;

$color-secondary: #FCE852;
$color-secondary-dark: #FCE852;

$color-tertiary: #2e3338;

$color-grey-light: #616264;
$color-grey: #2f3031;
$color-grey-dark: #131414;

$color-link: #007BFF;

$color-white: #FFFFFF;
// Font

$default-font-size: 1.6rem;