.landing {
  height: 100vh;
  background-image: 
    linear-gradient(to right, 
    rgba($color-primary-light, 0.8), 
    rgba($color-primary-dark, 0.8)), 
    // original image: https://drscdn.500px.org/photo/124608719/q%3D80_m%3D2000/v2?webp=true&sig=84f34ea03114327ec3deab6da5ea454cbb979b9a4fba0476d9e105bc4830047e
    url("./static/images/galaxy.png");
  background-size: cover;
  background-position:top;
  position: relative;

  &__text-box {
    width: 80%;
    position: absolute;
    top: 40%;
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__loader {
    @include positionCenter(60%);
  }
}

.landing-heading {
  
  text-align: center;

  &__text-box--main {
    display: inline-block;
    width: 70%;
    text-align: center;
  }
  &__text-box--sub {
    width: 100%;
  }
}

// Phone 600px
@media screen and (max-width: 37.5em) {
  .landing {
    &__text-box {
      width: 95%;
      position: absolute;
      top:40%;
      left: 50%; 
      transform: translate(-50%, -50%);
      text-align: center;
    }
  
    &__loader {
      @include positionCenter(70%);
    }
  }
}