label {
  margin-right: 0.5rem; }

p {
  margin-bottom: 0; }

.btn {
  font-size: 1.6rem; }

.btn-warning {
  color: #2f3031;
  background-color: #FCE852; }

.form-control {
  font-size: 1.6rem; }

.row {
  max-width: 114rem;
  margin: auto; }

ul {
  margin-bottom: 0; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333; }

.heading-primary {
  color: #FCE852;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    margin-bottom: 2rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: moveInRight 1s ease-in-out; }

@media screen and (max-width: 75em) {
  .heading-primary {
    margin-bottom: 9rem; }
    .heading-primary--main {
      font-size: 4rem;
      font-weight: 200;
      letter-spacing: 1rem; }
    .heading-primary--sub {
      display: block;
      font-size: 2rem;
      font-weight: 200;
      letter-spacing: 0.5rem;
      animation: moveInRight 1s ease-in-out; } }

@media screen and (max-width: 37.5em) {
  .heading-primary {
    margin-bottom: 2rem; }
    .heading-primary--main {
      font-size: 4rem;
      font-weight: 200;
      letter-spacing: 1rem; }
    .heading-primary--sub {
      font-size: 2rem;
      font-weight: 200;
      letter-spacing: 0.5rem; } }

.planet-card {
  margin: auto;
  position: relative;
  min-height: 50vh; }
  .planet-card__list {
    list-style: none; }

.footer {
  background-color: #131414;
  padding: 5rem;
  display: grid;
  grid-template-columns: [nav-start] auto [copyright-start] 30% [copyright-end];
  justify-content: space-between; }
  .footer__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-content: center; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #FCE852;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
  .footer__navlink--active {
    font-weight: bold; }
  .footer__copyright {
    color: #FCE852;
    letter-spacing: 0.1rem; }

@media screen and (max-width: 56.25em) {
  .footer {
    padding: 2rem;
    grid-template-columns: [nav-start] auto [copyright-start] 55% [copyright-end];
    justify-content: space-around; }
    .footer__list {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto); } }

@media screen and (max-width: 37.5em) {
  .footer {
    grid-template-columns: auto;
    justify-content: center; }
  .footer__navigation {
    display: none; }
  .footer__copyright {
    text-align: center; } }

.header {
  background-color: #131414;
  padding: 5rem;
  display: grid;
  grid-template-columns: [logo-start] 35% [nav-start] auto [nav-end];
  justify-content: space-between; }
  .header__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-content: center; }
  .header__item {
    display: inline-block; }
    .header__item:not(:last-child) {
      margin-right: 3rem; }
  .header__link:link, .header__link:visited {
    color: #FCE852;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
  .header__navlink--active {
    font-weight: bold; }
  .header__title {
    color: #FCE852; }

@media screen and (max-width: 37.5em) {
  .header {
    padding: 3rem;
    grid-template-columns: auto;
    justify-content: center; }
  .header__list {
    display: none; } }

.landing {
  height: 100vh;
  background-image: linear-gradient(to right, rgba(57, 58, 58, 0.8), rgba(0, 0, 0, 0.8)), url(https://drscdn.500px.org/photo/124608719/q%3D80_m%3D2000/v2?webp=true&sig=84f34ea03114327ec3deab6da5ea454cbb979b9a4fba0476d9e105bc4830047e);
  background-size: cover;
  background-position: top;
  position: relative; }
  .landing__text-box {
    width: 80%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .landing__loader {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); }

.landing-heading {
  text-align: center; }
  .landing-heading__text-box--main {
    display: inline-block;
    width: 70%;
    text-align: center; }
  .landing-heading__text-box--sub {
    width: 100%; }

@media screen and (max-width: 37.5em) {
  .landing__text-box {
    width: 95%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .landing__loader {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%); } }

.planet-card__loader {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); }

#root {
  display: grid;
  grid-template-rows: 13.5rem 1fr 15.5rem;
  height: 100vh; }

.container {
  padding: 2rem; }

.planet-view {
  display: grid;
  grid-template-rows: 20% auto;
  margin: 0 23%;
  padding: 2rem 0; }
  .planet-view__header {
    display: grid;
    grid-template-columns: 25% 75%;
    justify-content: space-around; }

.planet-list-filters {
  display: grid;
  grid-template-columns: repeat(2, auto); }
  .planet-list-filters .text-filter {
    display: grid;
    grid-template-columns: fit-content(40%) 60%;
    align-content: center;
    margin-right: 2rem; }
  .planet-list-filters .sort-by {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: space-around; }

@media screen and (max-width: 56.25em) {
  thead {
    display: none; } }

@media screen and (max-width: 37.5em) {
  .planet-view {
    margin: 1rem; }
  .planet-list-filters {
    display: none; }
  .planet-view__summary {
    display: none; }
  .planet-list {
    display: grid;
    grid-template-columns: auto; }
    .planet-list__item {
      display: grid;
      grid-template-columns: 20% 80%;
      border: 1px solid;
      margin-bottom: 1rem;
      text-align: center; }
    .planet-list__attr {
      display: block;
      border-top-style: none !important;
      grid-column: 2 / span 1;
      text-align: left; }
      .planet-list__attr--short {
        grid-column: span 1; }
    .planet-list__attr:empty {
      display: none; }
  td {
    max-width: 85vw;
    overflow-wrap: break-word; } }
