.header {
  background-color: $color-grey-dark;
  padding: 5rem;
  margin-bottom: 1.5em;
  display: grid;
  grid-template-columns: [logo-start] 35% [nav-start] auto [nav-end];
  justify-content: space-between;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-content: center;
  }

  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-secondary;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
    }
  }

  &__navlink--active {
    font-weight: bold;
  }

  &__title{
    color: $color-secondary;
  }
}

// Phone 600px
@media screen and (max-width: 37.5em) {
  .header {
    padding: 3rem;
    grid-template-columns: auto;
    justify-content: center;
  }
  .header__list {
    display:none;
  }
}
