.header {
  background-color: $color-grey-dark;
  padding: 5rem;
  // margin-bottom: 1.5em;
  display: grid;
  grid-template-columns: [logo-start] 35% [nav-start] auto [nav-end];
  justify-content: space-between;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-content: center;
  }

  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-secondary;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
    }
  }

  &__navlink--active {
    font-weight: bold;
  }

  &__title{
    color: $color-secondary;
  }
}

.dropdown {
  display: block;
  position: absolute;
  visibility: hidden;
  width: 100vw;

  &[aria-expanded=true] {
    visibility: visible;
  }

  &__list {
    list-style: none;
    text-align: center;
  }

  &__item {
    color: $color-secondary;
    background-color: $color-grey-dark;
  }
}

.topnav {
  display: none;
}

// Phone 600px
@media screen and (max-width: 37.5em) {
  .header {
    padding: 1rem;
    grid-template-columns: auto;
    justify-content: center;
    border-bottom: 1px solid $color-secondary
  }
  .header__list {
    display:none;
  }

  .topnav {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
    text-align: center;
    border-left: 1px solid $color-secondary;
    border-bottom: 1px solid $color-secondary;
    background-color: $color-primary;
    &--active {
      background-color: $color-secondary;
    }
    &-icon {
      color: $color-secondary;
    }
    &-label {
      color: $color-secondary;
    }
  }
}
